body {
    background: #121212;
    color: #fff;
    font-family: Arial;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

video {
    width: 400px;
    border-radius: 15px;
}

.panel {
    background: #1e1e1e;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
}

.bar {
    width: 100%;
    height: 20px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}

#fill {
    height: 100%;
    width: 0%;
    background: lime;
    transition: width 0.3s;
}
